<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="{url 'App_Shop:home'}" class="navbar-brand">Django E-Commerce Project</a>
        <button type="button" class="navbar-toggle" data-toggol="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>
</nav> -->


{% load cart_tag %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'App_Shop:home' %}">Django E-Commerce Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                <!-- Cart Icon -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'App_Order:cart' %}"><i class="fa fa-shopping-cart"></i> Cart
                    <span class="badge badge-light" style="color: black;">{{request.user | get_total}}</span></a>
                </li>
                
                <!-- User Profile Dropdown -->
                <li class="nav-item dropdown ms-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-tie"></i> {{ request.user.profile.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a href="{%  url 'App_Login:profile' %}" class="dropdown-item">Profile</a></li>
                        <li><a href="{% url 'App_Payment:orders' %}" class="dropdown-item">Orders</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="{% url 'App_Login:logout' %}" class="dropdown-item">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'App_Login:login' %}" class="btn btn-primary">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>  
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
